<mat-card>
  <mat-card-title>Produto:</mat-card-title>
  <mat-accordion class="list-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Descrição: </mat-panel-title>
        <mat-panel-description>
          {{ produto.DESCRICAO }}
        </mat-panel-description>
        <mat-icon>edit</mat-icon>
      </mat-expansion-panel-header>
      <mat-form-field class="formField">
        <mat-label>Nova Descrição</mat-label>
        <input class="matInput" matInput />
      </mat-form-field>
      <button mat-flat-button color="primary">Basic</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> NCM COD: </mat-panel-title>
        <mat-panel-description>
          {{ produto.NCM_COD }}
        </mat-panel-description>
        <mat-icon>edit</mat-icon>
      </mat-expansion-panel-header>
      <mat-form-field class="formField">
        <mat-label>Novo NCM COD:</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> NCM: </mat-panel-title>
        <mat-panel-description>
          {{ produto.NCM }}
        </mat-panel-description>
        <mat-icon>edit</mat-icon>
      </mat-expansion-panel-header>
      <mat-form-field class="formField">
        <mat-label>Novo NCM</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> CST: </mat-panel-title>
        <mat-panel-description>
          {{ produto.CST }}
        </mat-panel-description>
        <mat-icon>edit</mat-icon>
      </mat-expansion-panel-header>
      <mat-form-field class="formField">
        <mat-label>Novo CST</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
